<main class="fortezza">
  <np-site-header [showPersonalArea]="true" />
  <img class="scene" src="assets/fortezza.jpg" alt="Cortile interno della Fortezza">
  <a class="hotspot soci" routerLink="/Soci">Libro<br>Soci</a>
  <a class="hotspot convenzioni" routerLink="/Convenzioni">Convenzioni</a>
  <a class="hotspot repertorio" href="https://noveporte-my.sharepoint.com/:f:/g/personal/repertorio_noveporte_onmicrosoft_com/EtYiRDr8zJhOt5D7rFhomnABKK1myf_euIV4XWAFb3PPTg" target="_blank" rel="noopener">Repertorio</a>
  <a class="hotspot atti" routerLink="/AttiInterni">Atti</a>
  <a class="hotspot oggetti" routerLink="/CategorieOggetti">Oggetti</a>
  <a class="hotspot calendario" routerLink="/CalendarioEventi">Calendario</a>
  <button class="logout" type="button" (click)="logout()">Esca</button>
</main>
