<div class="entrance-header"><np-site-header /></div>
<a class="animation-fortezza" routerLink="/FortezzaCode" [queryParams]="loginQueryParams" aria-label="Entri nella Fortezza">
  <div class="bg-castello"><img src="/Images/Castello.png" alt="La Fortezza"></div>
  <div class="cavaliere cavaliere-1"><img src="/Images/Cavaliere1.png" alt=""></div>
  <div class="cavaliere cavaliere-2"><img src="/Images/Cavaliere2.png" alt=""></div>
  <div class="cavaliere cavaliere-3"><img src="/Images/Cavaliere3.png" alt=""></div>
</a>
