
<div class="default-page">
  <h1><span>L</span>uoghi</h1>

  <div class="luoghi">
    <ul>
      <li>
        <a routerLink="/dandy">Il Dandy <img src="assets/img/IcnArrow.png" /></a>
      </li>
      <li>
        <a routerLink="/studiogranmaestro">Studio del Gran Maestro <img src="assets/img/IcnArrow.png" /></a>
      </li>
      <li>
        <a routerLink="/lettereordine">Lettere all'ordine <img src="assets/img/IcnArrow.png" /></a>
      </li>
      <li>
        <a routerLink="/registro">Registro <img src="assets/img/IcnArrow.png" /></a>
      </li>
      <li>
        <a routerLink="/atti">Atti <img src="assets/img/IcnArrow.png" /></a>
      </li>
    </ul>
  </div>

</div>