<div class="bg-fortezza">

  <div class="default-page">
    <h1><span>F</span>ortezza</h1>

    <div class="fortezza-det">
      <ul>
        <li>
          <a href="https://noveporte.it/autologin?url=AttiInterni" target="_blank">Atti <img src="assets/img/IcnArrow.png" /></a>
        </li>
        <li>
          <a href="https://noveporte.it/autologin?url=CalendarioEventi" target="_blank">Calendario<img src="assets/img/IcnArrow.png" /></a>
        </li>
        <li>
          <a href="https://noveporte.it/autologin?url=Convenzioni" target="_blank">Convenzioni <img src="assets/img/IcnArrow.png" /></a>
        </li>
       <li>
          <a routerLink="/librosoci">Libro Soci <img src="assets/img/IcnArrow.png" /></a>
        </li>
        <li>
          <a href="https://noveporte.it/autologin?url=CategorieOggetti" target="_blank">Oggetti <img src="assets/img/IcnArrow.png" /></a>
        </li>
      </ul>
    </div>
    
  </div>

  <div class="castello">
    <img src="assets/img/Castello.png">
  </div>



</div>