.fortezza-det{
    width:100%;
    float: left;
    padding:25px 0 0 0;
    margin:0;
    font-family: AvianoRegular;
}

.fortezza-det li{
    width: 100%;
    float: left;
    padding: 0 0 12px 0;
    margin: 0;
}

.fortezza-det a{
    width: 100%;
    float: left;
    padding:10px 15px;
    margin: 0;
    background: rgba(88,87,85,.4);
    color: #FFFFFF;
    font-size: 16px;
}

.fortezza-det img{
    float: right;
    padding: 3px 0 0 0;
}