<div class="cittadella">
    
  <div class="default-page">

    <div class="porte">
      <h1><span>P</span>orte</h1>
      <ul>
        <li>
          <a (click)="gotoForums(1, 'Arte')">
            <img src="assets/img/ImgPorta.png">
            <h4>Arte</h4>
          </a>
        </li>
        <li>
          <a (click)="gotoForums(3, 'Tauromachia')">
            <img src="assets/img/ImgPorta.png">
            <h4>Tauromachia</h4>
          </a>
        </li>
        <li>
          <a (click)="gotoForums(2, 'Donne')">
            <img src="assets/img/ImgPorta.png">
            <h4>Donne</h4>
          </a>
        </li>
        <li>
          <a (click)="gotoForums(5, 'Fumo')">
            <img src="assets/img/ImgPorta.png">
            <h4>Fumo</h4>
          </a>
        </li>
        <li>
          <a (click)="gotoForums(7, 'Abbigliamento')">
            <img src="assets/img/ImgPorta.png">
            <h4>Abbigliamento</h4>
          </a>
        </li>
        <li>
          <a (click)="gotoForums(6, 'Gioco')">
            <img src="assets/img/ImgPorta.png">
            <h4>Gioco</h4>
          </a>
        </li>
        <li>
          <a (click)="gotoForums(4, 'Azione')">
            <img src="assets/img/ImgPorta.png">
            <h4>Azione</h4>
          </a>
        </li>
        <li>
          <a (click)="gotoForums(8, 'Gola')">
            <img src="assets/img/ImgPorta.png">
            <h4>Gola</h4>
          </a>
        </li>
        <li>
          <a (click)="gotoForums(9, 'La nona porta')">
            <img src="assets/img/ImgPorta.png">
            <h4>La nona porta</h4>
          </a>
        </li>
      </ul>
    </div>

  </div>

 
</div>
