<ion-content>
  <div class="default-page">
    <h1><span>S</span>tudio del<br>Gran Maestro</h1>
  
    <div class="gran-maestro">
      <ul>
        <li>
          <a (click)="gotoForum(86)">La Scrivania <img src="assets/img/IcnArrow.png" /></a>
        </li>
        <li>
          <a (click)="gotoForum(11)">La Posta <img src="assets/img/IcnArrow.png" /></a>
        </li>
      </ul>
      <article>
        <img src="assets/img/ImgGranMaestro.jpg" />
        In questo Studio il Gran Maestro del Cavalleresco Ordine elabora e pubblica alcune opinioni su argomenti della più varia natura. 
        Dalla Scrivania ne riportiamo qualche pensiero, redatto a sua insindacabile scelta, ma rispetto ai quali è possibile intervenire o replicare con un proprio parere. 
        Nella Posta è possibile sollecitare un'opinione magistrale su nuovi argomenti. Al Gran Maestro compete la prima risposta, che in caso di sua assenza potrà tardare 
        qualche giorno. Successivamente, il diritto di replica è garantito all’infinito e chiunque potrà contribuire, perché tutte le discussioni devono considerarsi come 
        sempre attive. Come sempre, saranno presi in considerazione e mantenuti in rete solo interventi nominativi, redatti senza far uso di nomignoli o abbreviazioni.<br>
        <span>
          <em>
            Mescola alla saggezza un po' di follia;
            nelle giuste circostanze è piacevole folleggiare.
            Misce stultitiam consiliis brevem;
            dulce est desipere in loco.
            Orazio 65-8 a.C. - Odi, IV, 12, 27/8
          </em>
        </span>
      </article>
    </div>

    <div class="back-int">
      <ul>
        <li>
          <a href="javascript:history.go(-1)"><img src="assets/img/IcnBack.png" />Torna Indietro</a>
        </li>
      </ul>
    </div>


  
  </div>


  </ion-content>
