<ion-content>
  <div class="default-page">
    <h1><span>E</span>venti Venturi</h1>
  
    <div class="back">
      <ul>
        <li>
          <a href="eventi"><img src="assets/img/IcnBack.png" />Torna Indietro</a>
        </li>
      </ul>
    </div>

  
    <div class="eventi-list">
      <section>
        <a href="eventodet">
          <article>
            <img src="assets/img/ImgEventiTest.jpg" />
              <h3>
                Adunanza <br>Protocollare<br>
                <span>
                  Rifondazione di Udine come
                  Aquila d'Oro
                </span>
              </h3>
          </article>
          <h4>
            Friuli
            <span>12/06/2020</span>
          </h4>
        </a>  
      </section>
      <section>
        <a href="eventodet">
          <article>
            <img src="assets/img/ImgEventiTest.jpg" />
              <h3>
                Adunanza <br>Protocollare<br>
                <span>
                  Rifondazione di Udine come
                  Aquila d'Oro
                </span>
              </h3>
          </article>
          <h4>
            Friuli
            <span>12/06/2020</span>
          </h4>
        </a>  
      </section>
      <section>
        <a href="eventodet">
          <article>
            <img src="assets/img/ImgEventiTest.jpg" />
              <h3>
                Adunanza <br>Protocollare<br>
                <span>
                  Rifondazione di Udine come
                  Aquila d'Oro
                </span>
              </h3>
          </article>
          <h4>
            Friuli
            <span>12/06/2020</span>
          </h4>
        </a>  
      </section>
      <section>
        <a href="eventodet">
          <article>
            <img src="assets/img/ImgEventiTest.jpg" />
              <h3>
                Adunanza <br>Protocollare<br>
                <span>
                  Rifondazione di Udine come
                  Aquila d'Oro
                </span>
              </h3>
          </article>
          <h4>
            Friuli
            <span>12/06/2020</span>
          </h4>
        </a>  
      </section>
    </div>
  
  </div>
  </ion-content>
