<ion-content [fullscreen]="true">
  <div class="cittadella">

    <!--HOMEPAGE-->
    <div class="homepage">
        <section>
            <a routerLink="/porte">
                <img src="assets/img/ImgPorta.png" />
                <h3><span>P</span>orte</h3>
            </a>
        </section>
        <section>
            <a routerLink="/luoghi">
                <img src="assets/img/ImgLuoghi.png" />
                <h3><span>L</span>uoghi</h3>
            </a>
        </section>
        <section>
            <a routerLink="/fortezza">
                <img src="assets/img/ImgFortezza.png" />
                <h3><span>F</span>ortezza</h3>
            </a>
        </section>
    </div>
    <!--end HOMEPAGE--> 

</div>
</ion-content>
